/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 *
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */
html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial;
}
h1 {
	padding: 0;
	margin: 0;
}
h6 {
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	margin-top: 0px;
}
.leftAboutMid {
	display:inline-block;
	position: relative;
	float:left;
	width:10%;
	height:250px;
}

.middleAboutMid {
	display:inline-block;
	position: relative;
	float:left;
	width:80%;
	height:250px;
}

.rightAboutMid {
	display:inline-block;
	position: relative;
	float:left;
	width:10%;
	height:250px;
}
.leftAbout {
	display:inline-block;
	position: relative;
	float:left;
	width:10%;
	height:75px;
}

.middleAbout {
	display:inline-block;
	position: relative;
	float:left;
	width:80%;
	height:75px;
}

.rightAbout {
	display:inline-block;
	position: relative;
	float:left;
	width:10%;
	height:75px;
}
.left {
	display:inline-block;
	position: relative;
	float:left;
	width:20%;
	height:145px;
}

.middle {
	display:inline-block;
	position: relative;
	float:left;
	width:60%;
	height:145px;
}

.right {
	display:inline-block;
	position: relative;
	float:left;
	width:20%;
	height:145px;
}

#cubeHolder {
	padding-top:150px;
	height: 60%;
	width: 60%;
}
#cubeHolder2 {
	padding-top:150px;
	height: 30%;
	width: 30%;
}

#disconnectHolder {
	height: 60%;
	width: 60%;
}

#foldHolder {
	padding-top:150px;
	height: 75%;
	width: 75%;
}

#logoHolder {
	height: 40%;
	width: 40%;
}
#linkHolder {
	height: 33%;
}
#backHolder {
	padding-right:25px;
	padding: 10px;
	height: 75%;
	width: 75%;
}

#aboutContent {
	margin-top: 40px;
	width:75%;
	height:100%;
	font-family:verdana;
	font-size: 1em;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ffffff;
	padding:15px;
	padding-bottom:40px;
	padding-top:0px;
}
#content {

	background:#ffffff;
	padding-bottom:150px; /* Height of the footer element */
}
#footer {
	width:100%;
	height:150px;
	position:absolute;
	bottom:0;
	left:0;
}

#valign {
	position:absolute;
    width: auto;
    height: auto;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#log {
	overflow: auto;
}
#list { 
	width: 450px;
	margin-left: 50px;
}

#list ol {
	font-style:italic; font-family:Georgia; font-size: 20px; color:#4400ff;	
}
#list ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:12px; color:#5e5e5e; border-left: 1px solid #999; }